{% extends 'layouts/layout.html.twig' %}

{% block content %}
{#    {{ dump(app) }}#}
{#    {{ dump(document) }}#}
    {{ dump(pimcore_website_config("breeding").fullpath) }}
{#    {{ dump(\Pimcore\Tool::getHostUrl().breedings[0].images.items[0].image.fullpath) }}#}
    {% include 'layouts/breadcrumb.html.twig' %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-lg-5 mt-sm-4">
                    <!-- <div class="float-md-left">
                        <div class="dropdown mr-1 ml-md-auto">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Season
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                          <a class="dropdown-item" href="#">2021</a>
                          <a class="dropdown-item" href="#">2020</a>
                          <a class="dropdown-item" href="#">2019</a>
                        </div>
                      </div>
                    </div> -->
                    <div class="d-flex">

                    </div>
                </div>
            </div>
            {% for breeding in breedings %}
            <div class="row mt-5 mb-5">
                <div class="col-md-12">
                    <h2 class="text-truncate text-black text-left">
                        {{ breeding.clutchId }}
                    </h2>
                </div>
                <div class="col-md-6">
                    <a href="{{ app.request.getSchemeAndHttpHost() ~ pimcore_website_config("breeding").fullpath ~ "/" ~ breeding.key | lower}}">
                        <img
                            src="{{ breeding.images ? app.request.getSchemeAndHttpHost() ~ breeding.images.items[0].image.fullpath : "#" }}"
                            alt="Image" class="img-fluid-styles-breeding">
                    </a>
                </div>
                <div class="col-md-6 align-items-center pt-5">
                    <div class="row pt-5">
                        <div class="col-3">
                            <span class="font-weight-bold">Sire</span>
                        </div>
                        <div class="col-9">
                            <a href="{{ app.request.getSchemeAndHttpHost() ~ pimcore_website_config("breeding").fullpath ~ "/" ~ breeding.key | lower}}">
                                <span class="badge badge-success">{{ breeding.sire.name }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-3">
                            <span class="font-weight-bold">Dame</span>
                        </div>
                        <div class="col-9">
                            <a href="{{ app.request.getSchemeAndHttpHost() ~ pimcore_website_config("breeding").fullpath ~ "/" ~ breeding.key | lower}}">
                                <span class="badge badge-success">{{ breeding.dame.name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
{#            <div class="row mt-5 mb-5">#}
{#                <div class="col-md-12">#}
{#                    <h2 class="text-truncate text-black text-left">#Pyton Lesser Banana</h2>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <a href="{{ app.request.getSchemeAndHttpHost()}}b6da5077-342d-433e-862e-f95b3fd2c4eb">#}
{#                        <img#}
{#                            src="http://admin.dwikaarief.com/assets/images/upload/product/d32774901f330751157e48a028eb5d1a.jpg"#}
{#                            alt="Image" class="img-fluid-styles-breeding">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-6 align-items-center pt-5">#}
{#                    <div class="row pt-5">#}
{#                        <div class="col-3">#}
{#                            <span class="font-weight-bold">Sire</span>#}
{#                        </div>#}
{#                        <div class="col-9">#}
{#                            <a href="{{ app.request.getSchemeAndHttpHost()}}">#}
{#                                <span class="badge badge-success">Sire</span>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row pt-5">#}
{#                        <div class="col-3">#}
{#                            <span class="font-weight-bold">Dame</span>#}
{#                        </div>#}
{#                        <div class="col-9">#}
{#                            <a href="{{ app.request.getSchemeAndHttpHost()}}">#}
{#                                <span class="badge badge-success">Dame</span>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col text-center">
                <button class="buy-now btn btn-sm btn-secondary">Load More</button>
            </div>
        </div>
    </div>
    <!-- copyright -->
    {% include 'layouts/footer.html.twig' %}
{% endblock %}