{% extends 'layouts/layout.html.twig' %}

{% block content %}
    {# {{ dump(breeding) }} #}
    {# {{ dump(measurement) }} #}
    <div class="site-wrap">
        {% include 'layouts/breadcrumb.html.twig' %}
        <div class="site-section pt-5" style="margin-bottom: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {# <img #}
                        {# src="{{ product.images ? app.request.getSchemeAndHttpHost() ~ product.images.items[0].image.fullpath : "#" }}" #}
                        {# alt="Image" class="img-thumbnail"> #}
                        {% if product.images %}
                            {% for indexImage, itemImage in product.images %}
                                {# {{ dump(indexImage) }} #}
                                {% if indexImage == 0 %}
                                    <div class="img-preview-container">
                                        <img
                                            src="{{ product.images ? app.request.getSchemeAndHttpHost() ~ itemImage.image.fullpath : "#" }}"
                                            alt="Image" class="img-fluid img-thumbnail">
                                    </div>
                                    <div class="img-list">
                                    <div class="owl-carousel img-list-carousel">
                                    <div class="img-list-container selected">
                                        <img
                                            src="{{ product.images ? app.request.getSchemeAndHttpHost() ~ itemImage.image.fullpath : "#" }}"
                                            alt="Image" class="img-fluid img-thumbnail">
                                    </div>
                                {% else %}
                                    <div class="img-list-container">
                                        <img
                                            src="{{ product.images ? app.request.getSchemeAndHttpHost() ~ itemImage.image.fullpath : "#" }}"
                                            alt="Image" class="img-thumbnail">
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm">
                                <h2 class="text-black">
                                    {{ product.name }}
                                </h2>
                            </div>
                            <div class="col-sm">
                                <h3 class="text-black">
                                    Rp {{ product.IDR | number_format(2, ',', '.') }}
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Sex</span>
                                    </div>
                                    <div class="col-9">
                                        {{ product.sex }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">ID</span>
                                    </div>
                                    <div class="col-9">
                                        {{ product.identity }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">DoB</span>
                                    </div>
                                    <div class="col-9">
                                        {{ product.dob }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Clutch</span>
                                    </div>
                                    <div class="col-9">
                                        Kuning Hitam
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Weight</span>
                                    </div>
                                    <div class="col-9">
                                        {{ measurement ? measurement.unit.value ~ " " ~ measurement.unit.unitId : "-" }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Sire</span>
                                    </div>
                                    <div class="col-9">
{#                                        {{ breeding.getTotalCount() == 1 ? breeding.load()[0].sire.name : "-" }}#}
                                        {% if breeding.getTotalCount() == 1 %}
                                            <a class="text-black" href="{{ app.request.getSchemeAndHttpHost() ~ pimcore_website_config("available").fullpath ~ "/" ~ breeding.load()[0].sire.key | url_encode }}">
                                                {{ breeding.load()[0].sire.name }}
                                            </a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Morph</span>
                                    </div>
                                    <div class="col-9">
                                        {% for morph in product.morph %}
                                            <a href="{{ app.request.getSchemeAndHttpHost() ~ pimcore_website_config("available").fullpath ~  "?morph[]=" ~ morph.name }}">
                                                <span class="badge badge-pill badge-primary">
                                                    {{ morph.name }}
                                                </span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="font-weight-bold">Dame</span>
                                    </div>
                                    <div class="col-9">
                                        {% if breeding.getTotalCount() == 1 %}
                                            <a class="text-black" href="{{ app.request.getSchemeAndHttpHost() ~ pimcore_website_config("available").fullpath ~ "/" ~ breeding.load()[0].dame.key | url_encode }}">
                                                {{ breeding.load()[0].dame.name }}
                                            </a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light pt-5 pb-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                Note
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>
                                        {{ product.notes | raw }}
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section block-3 site-blocks-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="col-md-12 site-section-heading text-center pt-4">
                            <h2>Recent Feedings</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nonloop-block-3 owl-carousel">
                            {% for feeding in feedings %}
                                <div class="item">
                                    <div class="block-4 text-center">
                                        <figure class="block-4-image">
                                            {# {{ dump(feeding.image) }} #}
                                            <img
                                                src="{{ app.request.getSchemeAndHttpHost() ~ feeding.image.fullpath }}"
                                                alt="Image placeholder" class="img-fluid">
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <p class="mb-0 font-weight-bold font-italic text-muted">
                                                {{ feeding.creationDate | date("j F Y") }}
                                            </p>
                                            <p class="mb-0 font-weight-bold font-italic text-muted">
                                                {{ feeding.creationDate | date("g:i a") }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'layouts/footer.html.twig' %}
    </div>
{% endblock %}